/java-consumer/.idea/
/java-publisher/target/
/java-publisher/.idea/
/java-consumer/target/
/js-publisher/node_modules/
/js-publisher/package-lock.json
/js-consumer/node_modules/
/js-consumer/package-lock.json
